body{
   background:burlywood;
}
/* стилизация меню */
.menu{
   color: #8a2be2  
}
h3{
  color:#223268;
}
.first-menu > li{
   font-weight: bold;
}
.second-menu> li{
   font-weight: bold;
}
.first-menu > li.active{
   color:#223268;
   font-size: 14pt
}
.second-menu> li.active{
   color:#223268;
   font-size: 14pt
}
/* конец стилизации меню*/

h1,h2 {
    text-align:center;
color: #8a2be2
}

.imp{
   font-family: cursive;
   color: #d639ce
}
aside{
width: 50%;
padding-left: .5rem;
margin-left: .5rem;
float: right;
box-shadow: inset 5px 0 5px -5px #29627e;
font-style: italic;
color: #29627e;
}
.picture{
   text-align:left
}
table{
table-layout: fixed;
width: 100%;
border: 3px solid #C1437A;
border-collapse: collapse;
}
.column{
background-color:#d3a7d1
}
td,th{
text align="center";
border: 1px solid purple;
}
thead{
   color:red;
}
tbody{
   font-family:Georgia, 'Times New Roman', Times, serif;
}
tfoot{
   font-weight: bold;
}